* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
  
}
header{
  background-color:rgb(17, 208, 33);
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 12px;
}

nav{
  background-color:rgb(17, 208, 33);
 
}
ul{
  display: flex;
  align-items: center;
  height: 100%;

  
}

nav ul li{
  list-style: none;
  margin-left: 16px;
  text-decoration: none;
}
nav ul li a{
   

  text-decoration: none;
}
